<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
	  var thresholdValue = {{ length }};
	  max = {{ max }}
	  var thresholdHighArray = new Array(thresholdValue).fill(max);
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets : [{  
          fillColor: "rgba(199,70,20,0.2)",
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          },
		  {
		  //fillColor: "rgba(255, 99, 132, 0.2)",
		  fillColor: "rgba(151,187,205,0.2)",
          data : thresholdHighArray
		  }
	]
      }
      
      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
    </script>
  </center>
</body>
</html>